.div1{
    background-color: crimson;
    height: 100px;
    width: 100px;
}
.div2{
    background-color: green;
    height: 100px;
    width: 100px;
}
.div3{
    background-color: yellow;
    height: 100px;
    width: 100px;
}
.parant{
display: flex;
align-items: center;
justify-content: space-between;

}